nav ul li:hover {
    background-color: rgba(1, 2, 3, 0, 0.1);
}

ul.nice-menu li a { 
    color: white;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 0 15px;
    background-color: #343a40!important;
}

ul.nice-menu ul li a{
    padding: 15px;
    width: 100%;
}

ul.nice-menu li a:hover {
    /*background-color: rgba(0,0,0,0.1);*/
    /*background: #212529;*/
    text-decoration: none;
    border: none;
}
ul.nice-menu li a.active {
/*    background-color: rgba(0,0,0,0.1);
    color: yellow; 
    background: black;*/
}


ul.nice-menu ul,
ul.nice-menu li {
/*    height: 40px;   */
    /*text-align:center;*/
}

ul.nice-menu li {
    border: none !important;
}

ul.nice-menu li.menuparent,
ul.nice-menu li li.menuparent {
/*    margin-top: 30px;
    background: url('arrow-right.png') right center no-repeat;*/
    background-color: yellow;
}

li.menuparent li,
li.menuparent ul {
    background-color: #343a40;
/*    width: 200px;*/
}

li.menuparent ul{
/*    height: 200px;*/
/*    width: 200px;*/
}

ul.nice-menu li.menuparent ul{
    margin-top: 15px;
    border: none;
    /*background: url('arrow-right.png') right center no-repeat;*/
}

ul.nice-menu li li.menuparent, ul.nice-menu li li.menuparent:hover {
    background-color: #343a40!important;
}

ul.nice-menu-down li.menuparent, ul.nice-menu-down li.menuparent:hover {
    background-color: blue !important;
    /* background: #eee url(../images/arrow-down.png) right center no-repeat; */
}


/******************/

ul#nice-menu-2 li a { 
    color: white;
    height: 25px;
    display: table-cell;
    vertical-align: middle; 
    background-color: #000 !important;
    text-transform: capitalize;
}

ul#nice-menu-2 ul,
ul#nice-menu-2 li {
    border: 0;
    background: none;
    height: 25px;   

}