* {
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
/*    font-family: 'Comfortaa', cursive, 'FontAwesome';*/
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 360px; /* Margin bottom by footer height */
    background: #f7f7f5;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-top {
    min-height: 95px;
    padding: 10px;
    line-height: 30px;
    background: -moz-linear-gradient(left,#c2c2c2 50%,#d7d7d7 50%);
    background: -webkit-gradient(left,#c2c2c2 50%,#d7d7d7 50%);
    background: -webkit-linear-gradient(left,#c2c2c2 49.7%,#d7d7d7 49.7%);
    background: -o-linear-gradient(left,#c2c2c2 50%,#d7d7d7 50%);
    background: -ms-linear-gradient(left,#c2c2c2 50%,#d7d7d7 50%);
    background: linear-gradient(left,#c2c2c2 50%,#d7d7d7 50%);
}

@media only screen and (max-width: 992px) {
    #footer-top {
        background: #c2c2c2;
    }
}

#footer-middle {
    min-height: 200px;  
    padding: 20px;
    line-height: 30px;
    background-color: #101010;
    line-height: 1.5rem;
    color: #fff;
    letter-spacing: 1px;
}

#footer-middle ul li {
    padding: 0 15px 10px 0;
}

#subfooter {
    height: 60px;
    line-height: 60px;
    background-color: #000000;
}

#subfooter p {
    margin-bottom: 0;
    font-size: 0.9rem;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/*
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
*/

body {
  /*padding-top: 3.5rem;*/
}

#megamenu_block1{
    border-radius: 0px;
    position: absolute;
    width: 940px;
    display: block;
    left: 20px;
    overflow: hidden;
    z-index: 6006;
    top: 50px;
}

.list-group-item {
    border: none !important;
}

.list-group-item.active {
    all: revert;
    z-index: 2;
    color: #000000;
    background-color: #fff;
    font-weight: 900;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;
}

.card {
    border: none;
/*    border-radius: unset;*/
}

.card-img, .card, .card-img-top {
    border-radius: unset!important;
}

.carousel {
    margin-bottom: 1.5rem !important;
}


.day {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 2px;
}

.month {
    font-size: 14px;
    text-transform: uppercase;    
}

.year {
    font-size: 14px;
    text-transform: uppercase;
}

.time {
    font-size: 11px;
}

/*****/

.block-system .view-people .views-row.group, 
.block-system .view-courses .views-row.group {
    margin-left: 150px;
    position: relative;
}

.block-system .view-people .views-row-1.group, 
.block-system .view-courses .views-row-1.group {
    margin-top: -75px;
}

.view-people .views-row,
.view-courses .views-row {
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #acacac;
}

.block-system .view-people .views-row.group:before,
.block-system .view-courses .views-row.group:before {
    content: "";
    height: 200%;
    width: 1px;
    background-color: #acacac;
    left: -75px;
    top: 4px;
    display: block;
    position: absolute;
}

.block-system .view-people .views-row.group:last-child:before,
.block-system .view-courses .views-row.group:last-child:before {
    height: 100%;
}

.block-system .view-people .view-content > h3,
.block-system .view-courses .view-content > h3 {
    width: 55px;
    height: 55px;
    background-color: #252525;
    color: #f0f0f0;
    font-size: 40px;
    text-align: center;
    line-height: 53px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
}

/******/

/*.block-system .view-courses .views-row.group {
    margin-left: 150px;
    position: relative;
}

.block-system .view-courses .views-row-1.group {
    margin-top: -75px;
}

.view-courses .views-row {
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #acacac;
}

.block-system .view-courses .views-row.group:before {
    content: "";
    height: 200%;
    width: 1px;
    background-color: #acacac;
    left: -75px;
    top: 4px;
    display: block;
    position: absolute;
}

.block-system .view-courses .views-row.group:last-child:before {
    height: 100%;
}

.block-system .view-courses .view-content > h3 {
    width: 55px;
    height: 55px;
    background-color: #252525;
    color: #f0f0f0;
    font-size: 40px;
    text-align: center;
    line-height: 53px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
}*/

/******/

.dark-layer {
    padding: 2rem 1.25rem 0;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.8));
}

.card-title.bottom {
    position: absolute;
    bottom: 30px;
}

.card-text.bottom {
    position: absolute;
    bottom: 15px;
}

.hoverable {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.3)!important;*/    
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    transition: all 0.5s 0.5s;    
}
/*
.hoverable:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5)!important;
}
*/
.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: translateY(-5px);
}

.breadcrumb {
    background-color: inherit;
}

ul.quicktabs-tabs, .nav-tabs {
    /*border-bottom: 1px solid #c2c2c2;*/
}
.nav-item .nav-link {
    border-bottom: 1px solid #c2c2c2;
}

.nav-item .nav-link.active {
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2; 
}

.nav-item .nav-link.active, .nav-item .nav-link:hover {
    border-radius: 0;
/*    border: 1px solid #c2c2c2;
    margin-bottom: -1px;*/
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: initial;
    border-color: #c2c2c2 #c2c2c2 #f7f7f5 #c2c2c2;
}

#top-header-nav {
    height: 25px;
}

#top-header-nav * a {
    letter-spacing: 0.1rem;
    font-size: 0.85rem;
}

/*fixed-top-with-adminbar {
    
}*/
/*
.navbar-shadow {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}*/
/*
.admin-navbar-exist {
    margin-top: 28px;
    
}*/

#main-menu, #top-header-nav {
    z-index: 990;
}

.fixed-top-admin-navbar-exist {
    position: fixed;
    top: 28px;
    right: 0;
    left: 0;
    margin-top: 0px;
    z-index: 990;
/*    z-index: 1030;*/
}


.bg-black {
    background-color: #000000;
}

.jumbotron {
    border-radius: initial;
    margin-bottom: 0.5rem;
    padding: 7rem 2rem;
}

.overlay-shade {
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(52,58,64,0.5);
    z-index: 2;
    cursor: pointer;
}

.jumbotron-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


@media (min-width: 1200px) {
    .container-wrapper {
        width: 1400px;
    }
}

@media (min-width: 992px) {
    .container-wrapper {
        width: 1100px;
    }
}

@media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

.card-book {
    padding-right: 0;
    padding-left: 0;
}

.row-book {
    padding-left: 15px;
    padding-right: 15px;
}

#email-subscribe {
    background: #e1e1e1;
    color: #464646;
    font-size: 14px;
    padding: 10px 15px;
    outline: none;
    border: none;
    width: 70%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#subscribe {
    margin: 0;
    height: 40px;
    background-color: #555;
    min-width: 0;
    border-radius: 0px;
    color: #FFF;
}

/*i.fab {
    font-size: 42px;
}*/


ul.social-bookmarks {
    padding-left: 0;
}

ul.social-bookmarks li {
    display: inline-block;
    margin: 4px 3px;
}

#footer-top ul.social-bookmarks li a {
    color: #363636;
    background-color: #959595;
    border-color: #959595;
}

ul.social-bookmarks li a {
    color: #959595;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #898989;
}

ul.social-bookmarks li i{
    width: 100%;
    height: 100%;
    font-size: 23px;
    line-height: 50px;
}

#subscribe-newsletter .text, #social-bookmarks .text {
    font-size: 19px;
    text-transform: uppercase;
    text-align: left;
    vertical-align: bottom;
    padding: 0 25px 0 0;
    margin: 0;
}